{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>

        <p>Lorem Ipsum — это просто текст-пустышка полиграфической и наборной индустрии. Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный печатник взял гранку шрифта и перемешал ее, чтобы сделать книгу образцов шрифтов. Он пережил не только пять столетий, но и скачок в электронный набор текста, оставаясь практически неизменным.</p>
        <button class="btn btn-warning">На страницу про нас</button>

<!--        {% for el in values %}-->
<!--            {% if el == 'Hello' %}-->
<!--                <p>{{ el|upper }}</p>-->
<!--            {% endif %}-->
<!--        {% endfor %}-->

<!--         {% for el in obj %}-->
<!--            <p>{{ el }}</p>-->
<!--        {% endfor %}-->
    </div>
{% endblock %}
